body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dccDropdown {
    margin-bottom: 20px;
}
